%p
  %label{:name=>"name"} Name:
  %input{:type=>"text", :name=>"name", :value=>number.name}
%p
  %label{:name=>"number"} Number:
  %input{:type=>"text", :name=>"number", :value=>number.number}
%p
  %label{:name=>"permission"} Permission:
  %input{:type=>"text", :name=>"permission", :value=>number.permission}
