.number
  %a{:href=>"/numbers/#{number.id}"}
    %p
      %b
        Name:
      = number.name
    %p
      %b
        Number:
      = number.number
    %p
      %b
        Permission:
      = number.permission
